@{
    ViewData["Title"] = "Liên hệ";
}

<div class="banner">
    <div class="bnr2">
    </div>
</div>
<div class="agileits_breadcrumbs">
    <div class="container">
        <div class="agileits_breadcrumbs_left street">
            <ul style="font-size: smaller; margin-bottom: 24px;">
                <li>
                    <a style="color:black" asp-controller="Home" asp-action="Index">Home </a><i class="fa fa-angle-right" style="font-size:14px"></i>
                </li>
                <li><a style="color:darkgrey" asp-action="Contact" asp-controller="Home">Liên hệ</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <h1 class="jeg_cat_title">Liên hệ</h1>
        <hr />
        <p class="jeg_cat_subtitle">
            Mọi thông tin muốn biết hoặc thắc mắc cần giải đáp bạn có thể liên hệ với chúng tôi qua địa chỉ bên dưới.
            Bạn cũng có thể gửi những vấn đề hoặc câu hỏi trực tiếp qua Form bên dưới. Chúng tôi sẽ hồi đáp nhanh nhất có thể.
        </p>
        <br />
        <p>Xin cám ơn!</p>
        <div class="contact-map">
            <iframe src="https://maps.google.com/maps?q=28%20Nguy%E1%BB%85n%20Tri%20Ph%C6%B0%C6%A1ng&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br /><br />
                <label style=" font-size: x-large;">Địa chỉ</label>
                <br /><br />
                <p>Phường Phú Hội, TP - Huế</p>
                <p>28, Nguyễn Tri Phương</p>
                <p>Tòa nhà 5 tầng CodyGym Huế</p>
            </div>
            <div class="col-md-6">
                <br />
                <br />
                <label style=" font-size: x-large;">Thông tin liên hệ</label>
                <br />
                <br />
                <p>Phone : 0983336103</p>
                <p>Email : gamehub@gmail.com</p>
                <p>
                    Fanpage: <a href="https://www.facebook.com/GameHub">https://www.facebook.com/GameHub</a> 
                </p>
            </div>
        </div>
        <hr />
        <div class="contact-head">
            <h1 class="jeg_cat_title">Điền Form Liên Hệ </h1>
            <form>
                <div class="col-md-6 contact-left">
                    <div class="form-group">
                        <label>Tên của bạn *</label>
                        <input type="text" name="name" value="" />
                    </div>
                    <div class="form-group">
                        <label>Email *</label>
                        <input type="text" name="name" value="" />
                    </div>
                    <div class="form-group">
                        <label>Tiêu đề </label>
                        <input type="text" name="name" value="" />
                    </div>
                </div>
                <div class="col-md-6 contact-right">
                    <div class="form-group">
                        <label>Nội dung</label>
                        <textarea></textarea>
                    </div>
                        <input style="background: #f70d28;" type="submit" name="name" value="Gửi đi" />
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>