@{
    ViewData["Title"] = "Ủng hộ cho Game Hub";
}

<div class="banner">
    <div class="bnr2">
    </div>
</div>
<div class="agileits_breadcrumbs">
    <div class="container">
        <div class="agileits_breadcrumbs_left street">
            <ul style="font-size: smaller; margin-bottom: 24px;">
                <li>
                    <a style="color:black" asp-controller="Home" asp-action="Index">Home </a><i class="fa fa-angle-right" style="font-size:14px"></i>
                </li>
                <li><a style="color:darkgrey" asp-action="Home" asp-controller="Donate">Ủng hộ cho Game Hub</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="gallery">
    <div class="container">
        <h1 class="jeg_cat_title">Ủng hộ cho Game Hub</h1>
        <br /> <p class="jeg_cat_subtitle">
            Xin chào tất cả anh em của Game Hub.
            Sau một thời gian đắn đo suy nghĩ và cũng đã xin ý kiến của một vài anh anh ở Group Game Hub. Thì Ad quyết định mở cái trang Donate này.
        </p>
        <hr />
        <div class="alert alert-warning">
            <strong>Thông tin Donate cho team:</strong>
            <br />
            <strong>
                Momo: 0984 933 241 (Khi donate nhớ để lại lời nhắn Team còn biết nhá <3)
            </strong>
            <br />
            <strong>
                Tài khoản ngân hàng: Trần Xuân Hoàng – Vietcombank Huế - PGD Hùng Vương – STK: 0441000715439
            </strong>
            <br />
            <strong>
                Link Donate: <a href="https://playerduo.com/gamehub">https://playerduo.com/gamehub</a>
            </strong>
            <br />
            <strong>
                Không có điều kiện thì làm nháy quảng cáo ha :v (1 nháy thôi đừng làm nhiều hơn chết Page kk)
            </strong>
            <br />
        </div>
        <hr />
        <p style="font-size:15px">
            Để duy trì được qua ngày thì Website cũng phải có chi phí.
            Hiện tại trên Page có quảng cáo nhưng nguồn thu cũng khá lèo tèo anh em à (Ủng hộ thì 1 ngày làm cho 1 nháy là được rồi :v. Nhiều nó khóa luôn thì khổ kk).
        </p>
        <p style="font-size:15px">
            Ngoài Website thì còn chi phí lưu trữ File các kiểu nữa. Với lại Ad cũng làm cái này kiếm cafe nữa :v.
        </p>
        <p style="font-size:15px">
            Nếu anh em nào thấy hữu ích, thấy hay thì hãy ủng hộ cho Khí Phách ha.
        </p>
        <br />
        <div class="blog-img">
            <img src="~/images/thanksy.jpg" alt="Thank you" />
        </div>
    </div>
</div>
